*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 16px;
    font-weight: 400;
    /*font-family: 'Open Sans', Arial, Helvetica, sans-serif ;*/
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    color: rgba(0, 0, 0, .6);
    /*color: #2c3e50;*/
    background-color: #f4f4f4;
}

.down{
    display: inline-block;
    background: url('../img/down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 2px;
    border-radius: 50%;
    padding: .2em;
    fill: rgba(0, 0, 0, .5);
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transform: translateY(5px);
    cursor: pointer;
}
.check{
    display: block;
    /*background: url('/assets/img/check.svg');*/
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: transparent;
    transform: translateY(1px);
}
.done .check{
    color: rgba(32, 183, 19, 0.6);
}
.icon{
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    padding: .4em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.center{text-align: center;}
.btn{
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: .2em .5em;
    color: inherit;
    cursor: pointer;
    margin: .2em 5px;
    outline: none !important;
}
.btn.active{
    border: 1px solid rgba(0, 0, 0, .2);
}
h1.title
{
    color: #2d5749;
    opacity: .3;
    font-size: 5em;
    font-weight: 400;
}
.container,.content{
    width: 1050px;
    max-width: 90%;
    margin: 0 auto;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todolist{
    width: 600px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 10px 0px #cdcdcd;
}
.todolist::before{
    content: "";
    width: calc(100% - 20px);
    height: 5px;
    background: #fff;
    display: block;
    position: absolute;
    margin: 0 10px;
    bottom: -15px;
    /* border-bottom: 1px solid rgba(0, 0, 0, .2); */
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .3); 
}
.todolist::after{
    content: "";
    width: calc(100% - 10px);
    height: 5px;
    background: #fff;
    display: block;
    position: absolute;
    margin: 0 5px;
    bottom: -7px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.3);
}

/***** SWitch *********/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 1em;
  }
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/****** End Switch ********/


/* box-shadow: 1px 1px 5px rgba(0, 0, 0, .3); */
.form{
    display: flex;
    align-items: center;
    padding: .5em;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    display: block;
}

.form input{
    width: calc(100% - 40px);
    height: 40px;
    font-size: 20px;
    border: none;
}
.form input::placeholder{
    color: rgba(0, 0, 0, .3);
}

.task{
    padding: 1em .5em;
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.task:first-of-type{
    box-shadow: 0 -5px 5px -5px #a49393;
}
.task .task__content{
    /*padding-top: 5px;*/
    font-size: 20px;
    color: rgba(0, 0, 0, .7);
    font-weight: 600;
    margin-left: 50px;
    line-break: anywhere;
}
.task.done .task__content{
    color: rgba(0, 0, 0, .3);
    position: relative;
}
 .task.done .task__content::after{
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background:rgba(0,0,0,.5);
    top: 45%;
} 

.todolist__footer{
    color: rgba(0, 0, 0, .5);
    padding: .5em;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px)
{
    .todolist__footer{
        flex-direction: column;
        align-items: center;
    }
    .todolist__footer div:last-child{
        text-align: center;
    }
}