<template>
    <div class="alert-info">
        <span class="close-alert" @click.prevent.stop="closeAlert">X</span>
        <p>Les données que vous rentrez sur cette plate-forme, vous seul pouvez les voir !</p>
        <p>Celles-ci sont stockées dans votre navigateur.</p>
        <p>Vous avez la possibilité de désactiver cette sauvegarde en cliquant sur le bouton bleu</p>
    </div>
</template>

<script>
export default {
    
    methods:{
        closeAlert()
        {
            this.$emit('close');
        }
    }
}
</script>

<style scoped>
.alert-info{
    background:#a9d0f9;
    padding: 1em;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
}
.close-alert{
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    right: .5em;
    top:.5em;
    cursor: pointer;
}
</style>