<template>
    <div class="form" >
        <div class="form-group">
            <i class="fas down" @click="doneAll"></i>
            <input @keyup.enter="addTodo" v-model="title" type="text" placeholder="Ajouter une tâche" name="task" id="task">
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            title:""
        }
    },
    methods:{
        addTodo(){
            this.$emit('create', this.title);
            this.title = "";
        },
        doneAll(){
            this.$emit('doneAll');
        }
    }
}
</script>