<template>
    <div class="content">
        <h1 class="title">Todos</h1>
        <div class="center">
            <p>Désactiver la persistance des données</p>
            <label class="switch">
                <input type="checkbox" checked v-model="persistData">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="todolist">
            <todoForm @doneAll="doneAll" @create="addTodo" ></todoForm>
            <div class="list_todos">
                <todo @check="doneTodo" :todo="todo" v-for="todo in tasks" :key="todo.id"></todo>
            </div>
            <footer class="todolist__footer">
                <div class="task_todo_sum">
                    {{taskTodoCount}} tâches à faire
                </div>
                <div>
                    <button class="btn" @click.prevent="allTask" :class="(!undoneTask && !doneTask)?'active': ''">Toutes</button>
                    <button class="btn" :class="(undoneTask && !doneTask)?'active': ''" @click.prevent="todoTask">A faire</button>
                    <button class="btn" :class="(!undoneTask && doneTask)?'active': ''" @click.prevent="doneTasks">Faites</button>
                    <button class="btn" @click.prevent="removeDoneTask">Supprimer les tâches finies</button>
                </div>
            </footer>
        </div>
        <alert v-if="showAlert && persistData" @close="closeAlert"></alert>
    </div>
</template>

<script>
import TodoForm from "./TodoForm"
import Todo from "./Todo"
import Alert from "./Alert"
export default {
    components:{
        TodoForm,
        Todo,
        Alert,
    },
    data(){
        return {
            todos:[],
            undoneTask: false,
            doneTask: false,
            persistData: true,
            showAlert: true
        }
    },
    methods:{
        addTodo(todoTitle)
        {
            let todo = {
                id: this.getId,
                title: todoTitle,
                done: false
            };
            this.todos.push(todo);
        },
        doneTodo(todoId){
            this.todos.forEach((todo, index) => {
                if(todo.id == todoId)
                {
                    todo.done = !todo.done;
                    this.todos[index] = todo;
                }
            });
            this.saveTodosInLocalStorage();
        },
        todoTask()
        {
            this.undoneTask = true;
            this.doneTask = false;
        },
        doneTasks(){
            this.doneTask = true;
            this.undoneTask = false;
        },
        allTask(){
            this.undoneTask = false;
            this.doneTask = false;
        },
        removeDoneTask()
        {
            this.todos = this.todos.filter(todo => !todo.done )
        },

        doneAll(){
            this.todos.forEach(todo => {
                todo.done = true;
            });
        },
        saveTodosInLocalStorage(){
            
            if(this.persistData)
            {
                const todos_parsed = JSON.stringify(this.todos);
                localStorage.setItem('todos', todos_parsed);
            }
        },
        closeAlert(){
            this.showAlert = false;
            localStorage.showAlert = false;
        }

    },
    computed:{
        taskTodoCount()
        {
            return (this.todos.filter(todo=> !todo.done )).length;
        },
        tasks()
        {
            // Only tasks not done yet
            if(this.undoneTask)
                return (this.todos.filter(todo=> !todo.done));
            
            else if(this.doneTask)
                return (this.todos.filter(todo=> todo.done));

            // All todos
            return this.todos;
        },
        getId()
        {
            if(this.todos.length > 0)
                return this.todos.slice(-1).pop().id+1;
            return 1;
        }
    },
    watch:{
        todos(value)
        {
            this.todos = value
            this.taskTodoCount
            this.saveTodosInLocalStorage();
        },
        persistData(value)
        {
            // save on localStorage the state of persistData
            localStorage.persistData = value;
            // remove todos on storage if persistData equals false
            if(!value)
                localStorage.removeItem('todos');
            else
                this.saveTodosInLocalStorage();
        }
    },
    mounted() {
        if (localStorage.getItem('todos') && this.persistData) {
            try {
                this.todos = JSON.parse(localStorage.getItem('todos'));
            } catch(e) {
                localStorage.removeItem('todos');
            }
        }
        else
        {
            localStorage.removeItem('todos');
            this.todos = [];
        }
        if(localStorage.showAlert != undefined)
            this.showAlert = localStorage.showAlert === "true";

        if(localStorage.persistData != undefined)
            this.persistData = localStorage.persistData === "true";
    },
}
</script>