<template>
  <div id="app">
    <todolist></todolist>
  </div>
</template>

<script>
import Todolist from "./components/Todolist"
export default {
  name: 'App',
  components: {
    Todolist
  }
}
</script>

<style src="./assets/css/todolist.css">

</style>
